.hero {
  margin-top: 26px;
}
.hero-container {
  background-color: #244d4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hero_img {
  flex: 1;
  max-height: 50%;
}
.cta {
  color: rgb(255, 255, 255);
  max-width: 671px;
}
.hero-heading {
  font-family: Montserrat;
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 20px;
}
.hero-paragraph {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  max-width: 488px;
}

.cta-button {
  margin-top: 35px;
  font-family: DM Sans;
  border: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  background: white;
  color: #244d4d;
  transform-origin: left;
  padding: 15px 25px;
  transition: transform 0.3s;
}

.cta-button:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
  color: white;
  background: #244d4d;
  transform-origin: left;
  border: solid white;
}

@media (max-width: 1100px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }
  .img-wrapper {
    max-width: 100%;
    text-align: center;
  }
  .hero_img {
    max-width: 80%;
  }
  .cta {
    max-width: 90%;
    padding: 15px;
  }
  .hero-heading {
    font-size: 36px;
    line-height: 44px;
  }
  .hero-paragraph {
    font-size: 16px;
    line-height: 22px;
  }
  .cta-button {
    font-size: 16px;
    padding: 10px 18px;
  }
}
